@import './layout.scss';
@import './transition.scss';


body{
  margin: 0;
  font-family: 'Microsoft YaHei', 'Microsoft YaHei UI';
  background-color: #111111;
}

::-webkit-scrollbar{
  width: 10px;
  height: 7px;
  background-color: #242424;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // border-radius: 10px;
  // background-color: #f4f4f4;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb{
  // border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
  background-color: #696969;
}